<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BookA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <meta name="description" content="MY FIRST SITE DESCRIPTION">
    <meta name="author" content="Vadim Scherbina">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
 <% include partials/header %>
    
    <div class="block1">Онлайн сервіс оренди книг “BookA” - це сайт на якому кожна людина, яка навчається в будь-якому навчальному закладі може виставити свою книгу в оренду. В більшості університетів або шкіл потрібно купувати книги для навчання, які буває коштують значних
        грошей, але після року навчання ця книга вам уже не потрібна, тому мій веб-сайт допоможе повернути собівартість даної книги і навіть заробити на ній. Після того як у вас закінчилось навчання по певній книзі ви можете виставити її в оренду.</div>
    <%if(user){%>
    <a href="books?page=1" class="button">Books</a>
    <div class="botom_line">
        <div class="create">Create by Admiral23</div>
        <img class="logo" src="./images/logo4.png" width="78" height="78" alt="logo">
    </div>
    <% }else{ %>
    <div class="botom_line" style="margin-top:9.4%">
        <div class="create">Create by Admiral23</div>
        <img class="logo" src="./images/logo4.png" width="78" height="78" alt="logo">
    </div>
    <% } %>
</body>
</html>