body {
    background-color: #BBB7B7;
    background-image: url("../images/page-bg-1.jpg");
}

.form-control {
    border-radius: 25px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */
}

.line {
    border-right: 2px solid #6D6969;
    /* Параметры линии */
    margin-right: 20px;
    /* Отступ слева */
    padding-right: 10px;
    /* Расстояние от линии до текста */
}

.img {
    width: 220px;
    height: 250px;
    border-radius: 30px;
}

.book-info {
    color: black;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 15px;
    font-size-adjust: none;
}

.book-name {
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
    background: #f8f8f8;
    text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}