<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BookA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
  <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/help.css">
    <meta name="description" content="MY FIRST SITE DESCRIPTION">
    <meta name="author" content="Vadim Scherbina">
</head>

<body style="background-image: url('../images/page-bg-1.jpg');">
<% include partials/header %>
    <div class="container-fluid">
        <div class="row " >
            <div class="col-md-8" >
                <img src="./images/firstpagedesc.jpeg" alt="logo" class="img" >
            </div>       
            <div class="col-md-4">
            <br><br>
                <h4>
                1) Сторінка перегляду користувачів сайту в адміна<br>
                2) Сторінка профіля<br>
                3) Сторінка на якій відображаються книги, які ви добавили в закладки<br>
                4) Вийти з акаунта<br>
                5) Головна сторінка<br>
                6) Сторінка перегляду всіх книг<br>
                7) Сторінка чату, на якій можна переписуватись з тими, хто зацікавився вашими книгами<br> 
                8) Сторінка створення нової книги<br>
                9) Сторінка перегляду ваших книг<br>
                </h4>
            </div>
        
            <div class="col-md-8">
                <br><br><br>
                <img src="./images/bookpagedesc.jpeg" alt="logo" class="img">
            </div>       
            <div class="col-md-4">
            <br><br><br><br><br>
                <h4>
                    1) Кнопка видалення книги, єтільки у автора поста і адміна<br>
                    2) Обновлення інформації про книгу<br>
                    3) Написати повідомлення автору, якщо вас закікавла книга<br>
                    4) Добавити книгу в закладки, або видалити її з закладок<br>
                    5) Перейти на профіль користувача<br>
                    6) Залишити коментар до книги<br>
                </h4>
            </div>
            <div class="col-md-8">
                <br><br><br>
                <img src="./images/chatpagedesc.jpeg" alt="logo" class="img">
            </div>       
            <div class="col-md-4">
                <br><br><br><br><br>
                <h4>
                    1) Вибрати користувача, якому хочете написати<br>
                    2) Кнопка відправлення повідомлення<br>
                </h4>
            </div>
        </div>



    </div>        


</body>


</html>