<nav class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
                <a href="/" class="navbar-brand">BookA</a>           
        </div>
        <ul class="nav navbar-nav hidden-sm hidden-xs">
            <% if (user) { %>
                <li><a href="books/search">Пошук</a></li>
                <li><a href="/books/create">Добавити</a></li>
                <li><a href="/books?page=1">Книги</a></li>
                <%if(user.role === "admin"){%>
                    <li><a href="/admin">Користувачі</a></li>
                    <% } %>
            <% }else{ %>
        </ul>
        
        <ul class="nav navbar-nav">
            <li><a href="/login">Ввійти</a></li>
            <li><a href="/register">Зареєструватись</a></li>
            <li><a href="/api">Api</a></li>
             <% } %>
        </ul>
        <% if (user) { %>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown" aria-expanded="false">
                        <span><%=user.name%></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/api">Api</a></li>
                        <li><a href="search" class="visible-sm visible-xs">Search </a><li>
                        <li><a href="create" class="visible-sm visible-xs">Add </a><li>
                        <li><a href="/books?page=1" class="visible-sm visible-xs">Books </a><li>
                        <li><a href="/profile"><i class="fa fa-cog"></i>Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="search" class="form-control" id="filter_string" name="name"  placeholder="Введіть назву книжки">    
                        <input type="hidden" name="page" value="1">
                            
                    </div> 
                </form>
            </div>
            <% } %>
    </div>   
</nav>