<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>client</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <link href=/static/css/app.ab0256db085713ec513db5947e76ff7a.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.977a3cbe5b8e80f4c051.js></script>
    <script type=text/javascript src=/static/js/vendor.d6ae77af13f6bace0b9d.js></script>
    <script type=text/javascript src=/static/js/app.5256f4a28c94d93bde35.js></script>
</body>

</html>